@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <center>
        <f3>SERVIDORES</f3>
        <br />
        <img src="https://www.cloudcenterandalucia.es/wp-content/uploads/2021/05/Servidor-web_Cloud-Center-Andalucia_3.png" />
    </center>
</div>
